  <% key = Rails.application.config.session_options[:key] %>
    
<p class="control-group">
    <b> 我的头像 </b>
    <%= image_tag @profile.image_url(:thumb) if @profile.avatar? %>
    <b class="control-label">上传头像</b>
    <input id="avatar_image" name="avatar" type="file" />

  <div id="avatar">
  </div>
</p>
<script type="text/javascript" language="javascript" charset="utf-8">
    
    var uploadify_script_data = {};
      uploadify_script_data['_http_accept'] = 'application/javascript'
    var csrf_param = $('meta[name=csrf-param]').attr('content');
    var csrf_token = $('meta[name=csrf-token]').attr('content');

    uploadify_script_data[csrf_param] = encodeURI(encodeURIComponent(csrf_token));

    uploadify_script_data['<%= key %>'] = '<%= cookies[key] %>';
    $('input#avatar_image').uploadify({
      'script'       : '/upload_avatar',
      'fileDataName' : 'avatar',
      'fileExt'      : '*.png;*.jpg;*.gif',
      'multi'        : false,
      'fileSizeLimit'    : '10MB',
      'scriptData'   : uploadify_script_data,
      'auto'         : true,
      'onComplete'   : function(e, id, obj, response, data) {
       $('#avatar').append(response);
      }
    });


</script>
