<%= link_to "上传图片", new_picture_path  %>
<div id="left">
  <%  @pictures.each do |p| %>
    <%= image_tag p.image.url(:cover) %>
  <% end %>
</div>

<div id="right"></div>

<script>
	$(function(){
	//resize
		$(window).resize(function(){
			left_and_right();
		})
			left_and_right();
		
	
	})


//function	
left_and_right = function(){
			var left_left = ($(window).width() - 945) / 2;
			var left_right = left_left + 195 ;
			var right_right = left_left;
			if(left_left > 200){
				left_left = 200;
				left_right = 395;
				right_right = 200;
			}
			$("#left").css({"left":left_left,"right":left_right});
			$("#right").css("right",right_right);
			
			var kk = $("#left img").attr("src");			
}


</script>
