<% content_for :head do %>
<%= javascript_include_tag "profile" %>
<%= javascript_include_tag "picture" %>
<% end -%>
<h1>New picture</h1>

<%= render :partial => "upload" %>
<%= link_to 'Back', pictures_path %>
