/*
*= require_self
*= require ./_bootstrap
*/

*{padding: 0px;margin:0px;}
#bodyWrapper{background-image: url("/assets/main-bg.jpg");}
#nav{position:fixed;background: #000;right: 0;left: 0;height: 36px;top:0;z-index: 10000;}
#brand{position:absolute;width:60px;height:36px;background:#fff;}
#search{float: right; background: #fff;}
#containner{position:relative; margin-top:36px; }
#signin{margin:0 auto; width:600px;margin-top:10px; margin-bottom:160px;}
#signin .ppt{width:600px;height:200px; background: #fff;}
#footer{position:relative; left: 0;right: 0; bottom: 0; height: 40px;}
#footer li{float: left; list-style: none;}






