/*
*= require_self
*= require ./_bootstrap
*/

*{padding: 0px;margin:0px;}
#bodyWrapper{background-image: url("/assets/main-bg.jpg");}


#nav{position:fixed;background: #000;right: 0;left: 0;height: 36px;top:0;z-index: 10000;}
#brand{position:absolute;width:60px;height:36px;background:#fff;}
#search{float: right; background: #fff;}


#containner{position:relative; margin-top:36px; }



#signin{margin:0 auto;margin-top:10px; margin-bottom:160px; float:right;}
#signin form{ width:280px; padding-top:33px;}
#signin input{ width:180px;margin-left: 20px;}
#signin label{ width:50px;}
#signin p{display: none;}
#remember_me{padding-left:70px;margin-bottom:18px;font-size: 14px;}
#signin #user_remember_me{display:none;}


.check{display:inline-block;padding-left:25px; height:16px; background: url("/assets/cc/checkbox_unchecked_icon&16.png") no-repeat;}
.check:hover{ cursor: pointer;}
.checked{background: url("/assets/cc/checkbox_checked_icon&16.png") no-repeat;}

#remember_me a{float: right;margin-right: 15px;}

#signin #confirm{margin-left:25px;}
#signin #confirm input{ width: 82px;margin-left: 30px;}
#signin #confirm a{width: 60px;margin-left: 20px;}
form h2{border-bottom: 1px solid #CCC;
	margin: -15px -20px 20px;
	text-indent: 20px;
	height: 40px;
	line-height: 40px;
	}



#footer{position:relative; left: 0;right: 0; bottom: 0; height: 40px;clear:both;}
#footer li{float: left; list-style: none;}






